@import url(https://fonts.googleapis.com/css?family=Exo:400,500,500italic,400italic,600,600italic,700,700italic,800,800italic,300,300italic);

body {
    background-color: rgb(36, 34, 34);
    padding-top: 140px;
    background-image: url(../image/bg_login.jpg);
    background-size: cover;
}
.repass{
    margin-top: 10px;
}
.login-form{
    border: 1px;
    background-color: rgb(192, 181, 181);
    width:380px;
    
}
.login-title{
    font-family: 'Exo', sans-serif;
    text-align:center;
    color: rgb(10, 9, 9);
}
.login-userinput{
    margin-bottom: 10px;
}
.login-button{
    margin-top:10px;
}
.login-options{
    margin-bottom:0px;
}
.login-options a{
    text-decoration: none;
}
.login-options a:hover{
    color: crimson;
}
.login-forgot{
    float: right;
}